
/* *****    HEADER  ******************************* */
.header {
    margin: 0;
    /* width: 50%; */
}    
.nav-button {
    margin-right: 5%;
    color:darkgoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px;
    border: 2px solid darkgoldenrod;
    border-radius: 8px;
    list-style: none;
    width: 7%;
}

.nav-button:hover {
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
}

.nav-bar{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 5%;
}
a {
    text-decoration: inherit;
    color: inherit;
}

/* ********************************************************************* */

/* ***** CONTENT********************************************* */

body {
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    margin-top: 15px;
    margin-bottom: 15px;
    /* padding: 10px; */
    justify-content: center;
    text-align: center;
    /* width: 100%; */
}

.box-story {
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    text-align: center;
    /* width: 100%; */
    margin-bottom: 5%;
}

.author-info {
    width: 20%;
    padding: 10px;
    margin: 10px;
    border: 5px dashed blue;

}

.memes {
    width: 40%;
    padding: 10px;
    margin: 10px;
    /* border: 5px dashed yellow; */
    justify-content: center;
    text-align: center;
}

.meme-post img {
    max-width: 100%;
    box-sizing: border-box;
}

.comments {
    width: 20%;
    padding: 10px;
    margin: 10px;
    border: 5px dashed violet;
}

.formulario {
    border: 2px solid darkgoldenrod;
    border-radius: 8px;
    max-width: 500px;
    color:darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: left;
    margin: auto;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

input {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-radius: 7px;
    margin-bottom: 3%;
}

label {
    font-weight: bold;
}

#register_button {
    font-style: normal;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    margin-top: 5%;
    border: 3px darkgoldenrod solid;
    background-color: transparent;
    color: darkgoldenrod;
    max-width: fit-content;
}

.register_button_div {
    text-align: center;
}

#register_button:hover {
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
}



/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 5%;
    background-color: dimgray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 82, 11);
    border-radius: 10px;
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgoldenrod;
  }
/*////////////////////slides////////////////////////////*/
.slide {
    width:100%;

  }
  * {box-sizing:border-box}

/* Slideshow container */

.slideshow-container {
    text-align: center;
    max-width: 1000px;
    min-height: 50%;
    position: relative;
    margin: auto;
}


/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev{
    margin-left: -50%;
}
.dot-style{
    text-align:center;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}